cmake-build*/
build/
*.o
*.obj
*.exe
*.out
*.log
*.db
*.sqlite
*.sdf
*.user
*.suo
*.vcxproj*
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
lib/sqlite3/*.o
lib/sqlite3/*.obj
lib/sqlite3/sqlite-amalgamation-3500100.zip
lib/sqlite3/README.txt
/practice
.vscode
/data
/etc
/tests
/utils/Logger.cpp
/utils/Logger.h
/utils/TimeUtils.cpp
/utils/TimeUtils.h